body {
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

main aside {
    order: -1;
}


/* CSS rule dalam block @media di bawah akan diterapkan jika ukuran viewport di atas 600px */

@media screen and (min-width: 400px) {
    h1 {
        color: red;
    }
    h2 {
        color: green;
    }
}


/* CSS rule dalam block @media di bawah akan diterapkan jika ukuran viewport di atas 992px */

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
    }
    #mainContent {
        flex-basis: 70%;
    }
    main aside {
        flex-basis: 30%;
        order: 1;
    }
    h1 {
        color: initial;
    }
    h2 {
        color: initial;
    }
    h3 {
        color: green;
    }
}