    * {
        margin: 0;
        padding: 0;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    
    .container {
        box-sizing: border-box;
        border: 5px solid #333;
        width: 600px;
        margin: 50px auto;
        padding: 20px;
        display: grid;
        grid-template-areas: " header header" " aside main" "nav main" " footer footer";
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr 1.3fr;
    }
    
    header {
        grid-area: header;
        background-color: #b063d8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    aside {
        grid-area: aside;
        background-color: #2F93FF;
        padding: 60px 0;
    }
    
    nav {
        grid-area: nav;
        background-color: #E45765;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    main {
        grid-area: main;
        background-color: #E0AA77;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer {
        grid-area: footer;
        background-color: #666;
        padding: 20px 0;
    }
    /* .container {
    /* background-color: #5ac6c6;
    display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    grid-template-rows: 7em;
    grid-gap: 1em;
    padding: 1em; */
    /* height: 95vh; //95vh = 95% of the viewport height = 2.3 cm


} */
    
    */
    /* .item {
    /* background-color: rgba(41, 53, 67, 0.8);
    padding: 2em; //1em = 0.4 cm //2.5em = 1.05 cm
    display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center;
    margin: ; */
    /* border-radius: 10px;
    font-size: 1.5em;
    font-weight: 600;
    text-transfom: capitalize;
    color: #f3f3f3;
    text-align: center; */